.catRace-container {
  text-align: center;
}

.cat-heads {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cat-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border: 3px solid #ddd;
  background-size: cover;  
  border-radius: 30px;
  position: fixed;
  z-index: 100;
}

.cat-head-1 {
  background-image: url('1.jpg');
}
.cat-head-2 {
  background-image: url('2.jpg');
}
.cat-head-3 {
  background-image: url('3.jpg');
}
.cat-head-4 {
  background-image: url('4.jpg');
}
.cat-head-5 {
  background-image: url('5.jpg');
}
.cat-head-6 {
  background-image: url('6.jpg');
}
.cat-head-7 {
  background-image: url('7.jpg');
}

.catConfig-l {
  display: block;
  position: relative;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0px 10px 10px 10px;
  margin: 20px 10px 0 0;
  float: right;
  border: 1px solid #efefef;
}

.catConfig-i {
  list-style: none;
  margin: 0;
  padding: 20px 0 0 0;
}

.catConfig-label--name {
  float: left;
  text-align: left;
}

.catConfig-label--value {
  float: right;
  text-align: right;
}

.catConfig-input {
  margin: 10px 0 0 0;
}