.catRace-container {
  
}

.cat-head-1 {
  background-image: url('1.jpg');
}
.cat-head-2 {
  background-image: url('2.jpg');
}
.cat-head-3 {
  background-image: url('3.jpg');
}
.cat-head-4 {
  background-image: url('4.jpg');
}
.cat-head-5 {
  background-image: url('5.jpg');
}
.cat-head-6 {
  background-image: url('6.jpg');
}
.cat-head-7 {
  background-image: url('7.jpg');
}