.App {
  text-align: center;
  user-select: none;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.menu-l {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ddd;
  width: 100%;
  z-index: 200;
}

.menu-i {
  display: inline-block;
  padding: 15px;
}

.demo-desc {
  color: #aaa;
  font-style: italic;
  font-size: 0.85rem;
}

.icon-github {
  position: absolute;
  right: 0px;
  top: 20px;
  height: 50px;
  line-height: 50px;
  color: #ddd;
  font-size: 2rem;
}

.icon-github:hover {
  color: #fff;
}